 body{
  background-color: grey;
}
details{
	font-style:italic;
	color:yellow;

}
summary{
	font-style:normal;
}
header {
	color:yellow;
  background: black;
  font-style: italic;
  font-size: 150%
 
}
p {
  color:black;
}
nav{
	background: white;
	font-size: 150%


}
footer {
	color:yellow;
  background: black;
  font-style: italic;
  font-size: 150%
 
}